/*sector 2 minicard*/

.minicard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.section__2 h3 {
  color: white;

  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
}
.minicard__box {
  height: 103px;
  width: 206px;
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.4s;
}
.minicard__box:hover {
  transform: scale(1.5);
}

.minicard__box img {
  height: 103px;
  width: 64px;
  border-radius: 5px;
}

.minicard__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  color: white;
}

/*sector 2 minicard end*/
