/*sector 2 minicard*/

.minicard {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.section__2 h1 {
  color: white;
  background-color: black;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 40px;
}
.minicard__box {
  height: 103px;
  width: 206px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  cursor: pointer;
  transition: 0.4;
}
.minicard__box:hover {
  border: solid;
  border-color: rgb(0, 26, 144);
}

.minicard__box img {
  height: 103px;
}

.minicard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  color: aliceblue;
}

/*sector 2 minicard end*/
