.slider-container {
  background-color: black;
}

.slick-dots {
  bottom: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 0.59s;
}

.slick-dots li button::before {
  content: "";
}

.slick-dots li {
  background-color: white;
  border-radius: 20px;
}
.slick-dots .slick-active {
  background-color: #ff0000;
  height: 15px;
  width: 40px;
}
.slide {
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url(../../assets/fd1132de32fcc36eb79ecf8eb0d99c64.jpg);
}

.slide-2 {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRX0QfgMiNfyxNOsKxxu1X8CtoPYMyDTF_nblh6gGJ29Q0GnttM");
}

.slide-1__btns {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.slide-1__btns button:first-child {
  background-color: #ff0000;
}

.slide-1__btns button {
  display: flex;
  gap: 5px;
  font-size: 24px;
  font-weight: 700;
  padding: 15px;
}

.slide-1__btns button:nth-child(2) {
  border: 2px solid red;
  color: white;
}
.slide-1__info {
  margin-top: 55px;
  max-width: 626px;
}
.slide-1__info h1 {
  color: white;
}

.slide-1__more-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.slide-1__more-info div:nth-child(-n + 3) {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}

.slide-1__more-info div:nth-child(n + 4) {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: white;
}

.slide-1__description {
  color: white;
  font-weight: 500px;
  margin-top: 25px;
}

.slide-1 .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
}

@media screen and (max-width: 450px) {
  .slide-1__btns {
    gap: 25px;
  }
  .slide-1__btns button {
    border-radius: 35px;
    font-size: 16px;
    padding: 10px;
  }
}
